/*
    UNIDADES:
    
    Absolutos: px, cm, mm...

    Relativos:
    Viewport: vh, vw, vmin, vmax...
    Font: rem, en...

    % é um caso especial, pois pode estar referenciando a tela toda ou apenas o componente específico.
*/

.unidades-absolutas{
    position: absolute;
    font-size: 40px;
    padding: 20px;
    border: solid 5px #222;
    margin: 30px;
    width: 4cm; /* Pouco usado */
    height: 20mm; /* Pouco usado */
    top: 150px;
    left: 200px;
    text-align: center;
}

.unidades-relativas{
    position: absolute;
    font-size: 4em;
    padding: 5%;
    border: solid 1vw #222; 
    margin: 0.8%;
    width: 20vw;
    height: 15vh;
    bottom: 5%;
    right: 5%;
    text-align: center;
}